{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Satisfaction Data Form</title>
    <link rel="stylesheet" href="{% static 'css/form_styles.css' %}">
</head>
<body>
    <form method="post">
        <h1>Job Satisfaction Survey</h1>  <!-- Add a title for clarity -->
        <p class="info-icon">Please select the most appropriate response for each question:
                <span clas='icon-icon' >ℹ️</span>

            </p>
        <div class="tooltip">
            Your responses will remain anonymous and confidential.<br>
            We value your feedback and ensure that your data will only be used for statistical purposes.
        </div>
        <br/>
        <br/>

        {% csrf_token %}
        {% for field in form %}
            <div>
                <h3>{{ forloop.counter }}. {{ field.label }}</h3>
                {{ field }}  <!-- This will render the field (radio buttons) -->
            </div>
        {% empty %}
            <p>No questions available.</p>  <!-- Display message if no fields -->
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
<footer>
    <p>powered by Empyrean Intergrated Solutions | &copy; 2024</p>
</footer>
</html>
